<nav class="ui menu" id="mainPhotos">
  <header class="ui header item"> <a href="/start"> AnimeList App </a></header>
  <img class="ui left image" src="https://cdn.glitch.com/5c8d4097-7a0a-4407-95ed-b8d7c2f01a1f%2FanimeHeading.PNG?v=1616092213468">
  <div class="right menu">
    <span class="centered name">{{fullname}}</span>
    <a id="dashboard" class="item" href="/dashboard"><h5>Dashboard</h5></a>
    <a id="about" class="item" href="/about"><h5>About</h5></a>
    <a id="logout" class="item" href="/logout"><h5>Logout</h5></a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>