{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <p> Sign up or Log in... </p>
</section>
<section class="ui center aligned segment">
  <img class="ui big centered image" src="https://cdn.glitch.com/5c8d4097-7a0a-4407-95ed-b8d7c2f01a1f%2FDancingCroc.gif?v=1618582276478">
</section>